<div class="bank">
  <div class="bank-background-layer" [style.background-color]="bankColor"></div>
  <div class="bank-inner">
    <div class="bank-header flex-align-center ">
      <div class="bank-color-circle" [style.background-color]="bankColor"></div>
      <div class="bank-name-wrapper" [class.is-focused]="isBankNameFocused" [attr.data-recommendated-bank-name]="recommendedBankName">
        <input type="text" class="bank-name" placeholder="Name der Bank" [(ngModel)]="bank.name" (input)="onBankNameChanged()" (focus)="onBankNameFocus(true)" (blur)="onBankNameFocus(false)" (keydown)="onBankNameKeyDown($event)"/>
      </div>
      <button class="delete fo-button fo-warning" (click)="openDeleteBankModal()">Delete Bank</button>

    </div>
    <div class="bank-subheader">
      <input type="text" class="bank-description" placeholder="individuelle Bezeichnung hinzufügen" [(ngModel)]="bank.individualName"
        (input)="onBankDetailsChanged()" />
    </div>

    <div class="bank-status">
      <span class="current-amount">
        {{ "2333" | currency: "EUR"}}
      </span>
      <span class="last-date"></span>

      <div class="history flex-between">
        <span class="highest-amount">{{ "12333" | currency: "EUR"}}</span>
        <span class="opened-since">{{ "2023-11-01" | date}}</span>
      </div>
    </div>

    <div class="add-monthly-amount-wrapper">
      <button class="amount-update-button fo-button" (click)="openAmountUpdater()">Kontostand aktualisieren</button>
    </div>
  </div>

</div>
