<div class="amount-updater">
  <div class="au-header">
    <div class="bank-names flex-align-center">
      <h2>{{bank?.name}}</h2>
      <p *ngIf="bank?.individualName?.length">({{bank?.individualName}})</p>
    </div>
  </div>

  <div class="au-table" *ngIf="bank !== null">
    <div class="year-entry"
    *ngFor="let year of sortedBalanceByYear(); let yearIndex = index"
    [class.open]="currentOpenYearIndex === yearIndex">

      <h3 class="year-title" (click)="toggleYear(yearIndex)">{{year.year}}</h3>
      <div class="year-entry-inner">
        <div class="year-table">
          <div class="month" *ngFor="let month of year.months ; let monthIndex = index">
            <p class="month-name">{{langMonths.shortMonths[monthIndex]}}</p>
            <app-monthly-amount-input [value]="bank.monthlyBalances[year.year].months[monthIndex]" (valueChanged)="inputValueChanged(year.year, monthIndex, $event)"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="au-footer">
    <div class="add-year-wrapper">
      <input pattern="[1-2][90][0-9][0-9]" placeholder="Jahreszahl" type="text" required [(ngModel)]="nextYearToAdd"
        [value]="nextYearToAdd" (keyup)="yearValidationDirect()" (blur)="yearValidationDelay()" />
      <button  class="fo-button" type="submit" (click)="addYear()">Jahr hinzufügen</button>
    </div>
    <button type="button" class="fo-button fo-secondary close-amount-updater" (click)="closeAmountUpdater()">zurück zur Übersicht</button>
    <button class="fo-button save-changes" type="button" (click)="saveAllChanges()">Änderungen speichern</button>
  </div>
</div>

