.banklist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 1rem;
}

.bank-delete-warning {
  position: absolute;
  grid-column: 1;
  grid-row: 1;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.monthly-amount-wrapper {
  position: absolute;
  grid-column: 1;
  grid-row: 1;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.banklist-container {
  position: relative;
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}
