<main>
  <div class="app-header">
    <div class="import-wrapper">
      <button type="button" class="import-button fo-button"
        [class.fo-secondary]="userBankData.length"><span>Importieren</span>
        <input type="file" (change)="importJSON($event)">
      </button>
    </div>
    <div class="page-logo-wrapper">
      <div class="page-logo">finance_observer</div>
    </div>
    <div class="export-wrapper">
      <button class="fo-button" type="download" (click)="downloadJSON()" [class.fo-secondary]="!userBankData.length">Exportieren</button>
    </div>
  </div>
  <app-banklist [userBankData]="userBankData"
(somethingChanged)="updateLocalStorage($event)"/>
</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
